/TestaVariaveis.class
/TestaPontoFlutuante.class
/TestaAConversao.class
/TestaCaracteres.class
/TestaValores.class
/TestaCondicional.class
/TestaCondicional2.class
/TestaEscopo.class
/TestaWhile.class
/TestaSomatoria.class
/TestaFor.class
/TestaLacos.class
/TestaLacos2.class
